@{
    ViewBag.Title = "Add Task";
}

<h1>Dodaj zadanie</h1>

<form action="~/add-task" method="post">
    <div class="w-50 float-left">
        
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="TagId">Tag</label>
            </div>
            <div class="flex-1">
                <select name="TagId" id="TagId" class="form-input">
                    <option value="">Wybierz tag</option>
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <option value="@tag.TagId">@tag.TagName</option>
                    }
                </select>
            </div>
        </div>        

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Description">Opis zadania</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Description" name="Description" />
            </div>
        </div>
        
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Equipment">Urządzenie</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Equipment" name="Equipment" />
            </div>
        </div>        

        <div class="box">
            <div class="form-field flex">
                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Oddział</label>
                </div>
                <div class="flex-1">
                    <select name="location1" id="firstDropdown">
                        <option value="Wybierz oddział">Wybierz oddział</option>
                        <option value="Czarna Białostocka">Czarna Białostocka</option>
                        <option value="Wyszków">Wyszków</option>
                   
                    </select>
                </div>

                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Lokalizacja</label>
                </div>
                <div class="flex-1">
                    <select name="cars" id="secondDropdown">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                    </select>
                </div>
                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Rodzaj</label>
                </div>
                <div class="flex-1">
                    <select name="cars" id="thirdDropdown">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                    </select>
                </div>
                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Dostępne urządzenia</label>
                </div>
                <div class="flex-1">
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="DueDate">Termin wykonania</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="date" id="DueDate" name="DueDate" />
            </div>
        </div>        

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Dodaj</button>
            </div>
        </div>

    </div>

    
</form>

@section scripts {
    <script>
        $('#firstDropdown').change(function () {
            var firstDropdownVal = $(this).val();
            console.log(firstDropdownVal);

            // Wywołaj akcję kontrolera, aby pobrać opcje dla drugiej listy
            $.get('/add-task/GetSecondDropdownOptions', { firstDropdownVal: firstDropdownVal }, function (data) {
                // Wyczyść drugą listę
                $('#secondDropdown').empty();

                // Dodaj nowe opcje do drugiej listy
                $.each(data, function (index, item) {
                    $('#secondDropdown').append($('<option>', {
                        value: item.location2Id, 
                        text: item.location2Name 
                    }));
                });

                // Wyczyść trzecią listę po zmianie pierwszej listy
                $('#thirdDropdown').empty();
            });
        });

       
        
    </script>
   

}
