@{
    ViewBag.Title = "Zgłoszenie2";
}

<h1>Zgłoś </h1>
<h3>Krok 2/4: Wybierz urządzenie</h3>
<form asp-controller="Tasks" asp-action="ZgloszenieStep2" method="post">
    <div class="w-50-report">
        <div class="box">
            <h4>Wybierz urządzenie</h4>
            <div class="form-field flex">
                <div class="w-25">
                    <label class="form-label pt" for="location1">Oddział</label>
                </div>
                <div class="flex-1">
                    <select name="location1" class="form-input" id="firstDropdown">
                        <option value="Wybierz oddział">Wybierz oddział</option>
                        <option value="Czarna Białostocka">Czarna Białostocka</option>
                        <option value="Wyszków">Wyszków</option>
                    </select>
                </div>
            </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="location2">Lokalizacja</label>
                </div>
                <div class="flex-1">
                    <select name="location2" class="form-input" id="secondDropdown">
                    </select>
                </div>
            </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="type">Rodzaj</label>
                </div>
                <div class="flex-1">
                    <select name="type" class="form-input" id="thirdDropdown">
                    </select>
                </div>
            </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Urządzenia</label>
                </div>
                <div class="flex-1">
                    <select name="Equipment" class="form-input" id="fourthDropdown">
                    </select>
                </div>
            </div>
        </div>
    </div>    
</form>

<div class="w-50-report-button">
    <div class="right">
        <button id="submitBtn2" class="button button-blue-back">Dalej</button>
    </div>
</div>

@section scripts {
    <script>
        $('#firstDropdown').change(function () {
            var firstDropdownVal = $(this).val();
            
            $.get('/add-task/GetSecondDropdownOptions', { firstDropdownVal: firstDropdownVal }, function (data) {
                
                $('#secondDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz lokalizację'
                }));
                
                $.each(data, function (index, item) {
                    $('#secondDropdown').append($('<option>', {
                        value: item.location2Id,
                        text: item.location2Name
                    }));
                });
                
                $('#thirdDropdown').empty();
                $('#fourthDropdown').empty();
            });
        });

        $('#secondDropdown').change(function () {
            var firstDropdownVal = $('#firstDropdown').val();
            var secondDropdownVal = $(this).val();
            
            $.get('/add-task/GetThirdDropdownOptions', { firstDropdownVal: firstDropdownVal, secondDropdownVal: secondDropdownVal }, function (data) {
                
                $('#thirdDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz rodzaj'
                }));
                
                $.each(data, function (index, item) {
                    $('#thirdDropdown').append($('<option>', {
                        value: item.typeId,
                        text: item.typeName
                    }));
                });

                $('#fourthDropdown').empty();
            });
        });

        $('#thirdDropdown').change(function () {
            var firstDropdownVal = $('#firstDropdown').val();
            var secondDropdownVal = $('#secondDropdown').val();
            var thirdDropdownVal = $(this).val();
                        
            $.get('/add-task/GetFourthDropdownOptions', { firstDropdownVal: firstDropdownVal, secondDropdownVal: secondDropdownVal, thirdDropdownVal: thirdDropdownVal }, function (data) {
                
                $('#fourthDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz urządzenie'
                }));
                
                $.each(data, function (index, item) {
                    $('#fourthDropdown').append($('<option>', {
                        value: item.equipmentId,
                        text: item.equipmentCascade
                    }));
                });
            });
        });

        document.getElementById("submitBtn2").addEventListener("click", function () {
            window.location.href = "/zgloszenie3";
        });

    </script>
}
