@{
    ViewBag.Title = "Add Employee";
}

<h1>Dodaj pracownika</h1>

<form action="~/add-employee" method="post">
    <div class="w-50 float-left">

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Name">Imię</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Name" name="Name" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="LastName">Nazwisko</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="LastName" name="LastName" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="DepartmentId">Departament</label>
            </div>
            <div class="flex-1">
                <select name="DepartmentId" id="DepartmentId" class="form-input">
                    <option value="">Wybierz departament</option>
                    @foreach (var department in ViewBag.Departments)
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="RoleId">Rola</label>
            </div>
            <div class="flex-1">
                <select name="RoleId" id="RoleId" class="form-input">
                    <option value="">Wybierz rolę</option>
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.RoleId">@role.RoleName</option>
                    }
                </select>
            </div>
        </div>        

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Dodaj</button>
            </div>
        </div>

    </div>


</form>
