@using GalvantMVC2.Application.ViewModels.Employee;

@model SearchLastNameVm

@{
    ViewBag.Title = "Pracownicy";
}

@section Sidebar {
    <div class="centred">
        <button class="button button-green-back" id="AddEmployeeButton">Dodaj pracownika</button>

    </div>
    }

<h1>Pracownicy</h1>

<form>      
    <div class="form-field flex">
        <label for="searchText">Wyszukaj nazwisko:</label>
        <input type="text" class="form-control" id="searchText" name="SearchLastNameVm.SearchText"
               list="suggestionsList" oninput="getSuggestions()" value="@Model.SearchText" />
        
        <datalist id="suggestionsList">            
        </datalist>
    </div>        
       
        <div class="flex-1">
            <button class="button button-green-back">Zobacz</button>
        </div>    
</form>

@section scripts {
    <script>
        
        function getSuggestions() {
            
            var searchText = document.getElementById("searchText").value;
                        
            $.ajax({
                url: "/get-suggestions",
                type: "POST",
                data: { searchText: searchText },
                success: function (result) {                    
                    updateSuggestionsList(result);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        
        function updateSuggestionsList(suggestions) {
            const dataList = document.getElementById("suggestionsList");
                        
            while (dataList.firstChild) {
                dataList.removeChild(dataList.firstChild);
            }
            
            for (const suggestion of suggestions) {
                const option = document.createElement("option");
                option.value = suggestion;
                dataList.appendChild(option);
            }
        }

        document.getElementById("AddEmployeeButton").addEventListener("click", function () {
            window.location.href = "/add-employee";
        });
    </script>
}
