<h3>Żuraw</h3>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="Type">Typ</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="Type" name="Type" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="Producer">Producent</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="Producer" name="Producer" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="ProductionYear">Rok produkcji</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="ProductionYear" name="ProductionYear" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="FactoryNumber">Nr fabryczny</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="FactoryNumber" name="FactoryNumber" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="UDTNumber">Nr UDT</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="UDTNumber" name="UDTNumber" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="InventoryNumber">Nr inwentarzowy</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="InventoryNumber" name="InventoryNumber" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="LiftingCapacity">Udźwig</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="number" id="LiftingCapacity" name="LiftingCapacity" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="RaisingHeight">Wysokość podnoszenia</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="number" id="RaisingHeight" name="RaisingHeight" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="WorkloadGroup">Grupa natężenia pracy</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="text" id="WorkloadGroup" name="WorkloadGroup" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="Weight">Masa własna</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="number" id="Weight" name="Weight" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="UDTExpiryDate">badania UDT</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="date" id="UDTExpiryDate" name="UDTExpiryDate" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="ElectricalExpiryDate">pomiary elektryczne</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="date" id="ElectricalExpiryDate" name="ElectricalExpiryDate" />
    </div>
</div>

<div class="form-field flex">
    <div class="w-25">
        <label class="form-label pt" for="ResursDate">Resurs</label>
    </div>
    <div class="flex-1">
        <input class="form-input" type="date" id="ResursDate" name="ResursDate" />
    </div>
</div>



