@{
    ViewBag.Title = "Add Equipment";
}

    <h1>Dodaj urządzenie</h1>

<form action="~/add-equipment" method="post" enctype='multipart/form-data'>
<div class="w-50 float-left">   
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Oddział</label>
            </div>
            <div class="flex-1">
                <input type="radio" class="ml" id="Czarna Białostocka" name="Location1" value="Czarna Białostocka" checked="checked" />
                <label for="Czarna Białostocka">Czarna Białostocka</label>
                <input type="radio" class="ml" id="Wyszków" name="Location1" value="Wyszków" />
                <label for="Wyszków">Wyszków</label>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="TypeId">Rodzaj</label>
            </div>
            <div class="flex-1">
                <select name="TypeId" id="TypeId" class="form-input">
                    <option value="">Wybierz rodzaj</option>
                    @foreach (var type in ViewBag.Types)
                    {
                        <option value="@type.TypeId">@type.TypeName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Location2Id">Lokalizacja</label>
            </div>
            <div class="flex-1">
                <select name="Location2Id" id="Location2Id" class="form-input">
                    <option value="">Wybierz lokalizację</option>
                    @foreach (var location in ViewBag.Locations)
                    {
                        <option value="@location.Location2Id">@location.Location2Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Location3">Miejsce</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Location3" name="Location3" />
            </div>
        </div>        

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Notes">Uwagi</label>
            </div>
            <div class="flex-1">
                <textarea class="form-input" id="Notes" name="Notes"></textarea>
            </div>
        </div>
        
        <div class="box">
            <h3>Pliki</h3>
            
            
            <div class="input-bx">
                <h4 class="upload-area-title">Dokumentacja techniczno ruchowa</h4>
                <input type="file" id="upload" accept=".pdf" multiple="multiple" name="name" hidden />
                <label for="upload" class="uploadlabel">
                    <span><i class="fa-solid fa-cloud-upload"></i></span>
                        <p>Kliknij aby wgrać pliki</p>
                </label>
                
                <div id="filewrapper">
                    <h4 class="uploaded">Wgrane pliki:</h4>
                    @* <div class="showfilebox">
                        <div class="left">
                            <span class="filetype">PDF</span>
                            <h4>Kamil.pdf</h4>
                        </div>
                        <div class="right"> 
                            <span><i class="link fa-solid fa-trash" title="Usuń"></i></span>
                        </div>
                    </div> *@
                </div>
                <div class="centered-button">
                    <button type="button" id="submitBtn1" class="upload-button">Prześlij pliki</button>
                </div>
                
            </div>
           

            <div class="flex-1">
                <h4>Schemat elektryczny</h4>
                <input type="file" multiple="multiple" name="name" />
                <input type="submit" />
            </div>

            <div class="flex-1">
                <h4>Inne</h4>
               
                <input type="file" multiple="multiple" name="name" />               
                <input type="submit" />
                
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">                
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Dodaj</button>
            </div>
        </div>
   
</div>

<div class="w-50 float-left" id="additionalFieldsContainer">
        
</div>
</form>



@section scripts {
    <script>
        // Dodaj event listener do zmiany wartości w select
        document.getElementById("TypeId").addEventListener("change", function () {
            var selectedTypeId = this.value;

            // Wykonaj żądanie AJAX, aby pobrać część widoku
            if (selectedTypeId) {
                fetch("/add-equipment/AdditionalFields?selectedTypeId=" + selectedTypeId)
                    .then(response => response.text())
                    .then(data => {
                        // Wstrzyknij pobraną część widoku do kontenera
                        document.getElementById("additionalFieldsContainer").innerHTML = data;
                    });
            } else {
                // Wyczyść kontener, jeśli nie wybrano rodzaju
                document.getElementById("additionalFieldsContainer").innerHTML = "";
            }
        });

        window.addEventListener("load", () => {
            const input = document.getElementById("upload");
            const filewrapper = document.getElementById("filewrapper");
            const submitButton = document.getElementById("submitBtn1");

            let selectedFiles = [];

            input.addEventListener("change", (e) => {
                const files = e.target.files;
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    let fileName = file.name;
                    let fileType = fileName.split(".").pop();
                    let fileURL = URL.createObjectURL(file); // Tworzy tymczasowy adres URL dla pliku

                    fileshow(fileName, fileType, fileURL, file);
                }
            });

            const fileshow = (fileName, fileType, fileURL, file) => {
                const showfileboxElem = document.createElement("div");
                showfileboxElem.classList.add("showfilebox");
                const leftElem = document.createElement("div");
                leftElem.classList.add("left");
                const fileTypeElem = document.createElement("span");
                fileTypeElem.classList.add("filetype");
                fileTypeElem.innerHTML = fileType;

                const fileLinkElem = document.createElement("a");
                fileLinkElem.href = fileURL;
                fileLinkElem.target = "_blank";  // Otwiera link w nowym oknie/karcie                
                fileLinkElem.innerHTML = fileName;
                fileLinkElem.classList.add("upload-link");

                leftElem.append(fileTypeElem);
                leftElem.append(fileLinkElem);                
                showfileboxElem.append(leftElem);

                const rightElem = document.createElement("div");
                rightElem.classList.add("right");
                showfileboxElem.append(rightElem);
                const trashcanElem = document.createElement("span");
                trashcanElem.innerHTML = '<i class="link fa-solid fa-trash" title="Usuń"></i>';
                rightElem.append(trashcanElem);

                filewrapper.append(showfileboxElem);

                trashcanElem.addEventListener("click", () => {
                    filewrapper.removeChild(showfileboxElem);
                    selectedFiles = selectedFiles.filter(f => f !== file);
                })

                 selectedFiles.push(file);
            };

            submitButton.addEventListener("click", () => {
                const formData = new FormData();
                selectedFiles.forEach(file => {
                    formData.append("files", file);
                });

                fetch("/add-equipment/upload-files", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // Otrzymana odpowiedź od serwera po przesłaniu plików
                        console.log(data);
                    })
                    .catch(error => {
                        // Obsługa błędu
                        console.error("Błąd:", error);
                    });
            });
        });   
       
    

    </script>
}